<h3>Examples</h3>
<ul>
    <li><a href='{% url stops-within-bounds 49.286716 49.282196 -123.090652 -123.097519 %}'>Get stops within bounds</a></li>
    <li><a href='{% url stops-within-bounds-with-times 49.286716 49.282196 -123.090652 -123.097519 %}'>Get stops within bounds with times</a></li>
    <li><a href='{% url stop 519 %}'>Get stop by ID</a></li>
    <li><a href='{% url search 'N17' %}'>Search (routes or stops)</a></li>
    <li><a href='{% url trip 3719030 %}'>Get trip and all its stops by trip_id</a></li>
</ul>