<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<title>Vancouver bus stops and schedules.</title> 
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}desktop.css" /> 
		<script type="text/javascript">
			var base_url = '{% url index %}';
			var media_url = '{{ MEDIA_URL }}';
		</script> 
		<script type="text/javascript" src="{{ MEDIA_URL }}jquery.js"></script>	
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}generic.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}googlemaps.plugin.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}jquery.cookie.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}transit.js"></script>
	</head>
	<body>
		<div id='wrapper-outer'>
			<div id='wrapper-inner'>
				<div id='header'>
				</div>
				<div id='content'>
					<div id='search-container'>
						<form id='search'>
					        <input type='text' name='search' class='default-value' title='Search for Address' id='search-field' />
					        <select id='city'>
					        	<option val='Vancouver, BC'>in Vancouver, BC</option>
					        </select>
					        <input type='submit' value='Go' />
					        <div id='map-loader'></div>
					    </form>
	    			</div>
					<div id='map-container'>
						<div class='drop-shadow'></div>
	    				<div id='map'></div>
	    				<div id='map-controls-container'>
	    					<div id='map-controls'>
		    				</div>
	    				</div>
					</div>
					<div id='panel'>
						<div class='drop-shadow'></div>
						<!--<div class='panel-arrow'></div>-->
						<div id='panel-inner'>
							<div class=''>
								<div class='title'>
									<h3 id='main-title'>Pick a stop from the map</h3>
									<h5 id='sub-title'>The details will show up below</h5>
								</div>
								<div class='content'>
									<table class='bus-times' style='display: none;'>
										<tr>
											<th>Bus</th>
											<th>Next times</th>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class='clear'><!-- --></div>
				</div>
				<div id='footer'>
					<a href='#' onclick='$("#wat").show(); return false;'>About</a> &bull; <a href='mailto:murat@ayfer.net'>Email me</a> &bull; <a href='{% url api %}'>API</a>
					&nbsp; &nbsp; 
					<span class='translink'>Vancouver bus schedules provided by <a href=''>Translink</a></span>
				</div>
				<div id='last-updated'>
					schedules were last updated on Nov 4<sup>th</sup> 2011
				</div>
			</div>
		</div>
		<div id='wat'>
			i made this for reasons that i'm not entirely sure of anymore.<br />
			i think it works well though, much easier to use than translink's site. and does a few things google maps doesn't do.<br />
			if you like it tell me and maybe i'll keep working on it.<br />maybe i'll make a mobile/iphone version.
			<br /><br />
			<button onclick='$("#wat").hide();'>okay</button>
		</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26807056-1']);
  _gaq.push(['_setDomainName', 'takethebus.in']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	</body> 
</html>
